.footer {
    background-color:rgb(0, 0, 0);
    height: 50px;
  }
    
  .footer-container{
    display: flex;
    max-width: 1000px; 
    margin: 0 auto;
    justify-content: center;
    bottom: 0;
  }